*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-header{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.contenedor-turnos{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-family: sans-serif;
}
.contenedor-botones-turnos{
    display: flex;
    gap: 3em;
}
.btn{
    width: 100px;
    height: 30px;
}


.elemento{
    background-color: rgb(18, 56, 87);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.contenedor-juego{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.lista{
    display: flex;
    gap: 1em;
}


.contenedor-btn-reiniciar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}